#body{
width: 90%;
height:auto;

}



#header{
    
    width: 100%;
    height: 75px;
    background-color: rgb(216, 245, 64);
    margin-top: -15px; 
    justify-content: center;
}
.logo{
    width: 150px;
    size: 50%;
    margin-top:15px;
    margin-left: 46%;
    

}


h1{
   
   margin-left:70px;
   margin-top:140px;
   font-family: Noto Sans, sans-serif;
   font-size: 85px  ;
   font-weight: bold;
   color: rgb(247, 244, 235);
}

#ligne{
width:100%;
 height: 8px;
 background-color: rgb(216, 245, 64);
 margin-top:150px;
}


#Ana{
   margin-left: 50px;
   margin-top: 80px;
   .jg{
   width: 150px;
    height:150px;}}
#Ligne{
    margin-left: 250px;
    margin-top: -159px; 
}

#Colone{
    margin-left: -1250px;
    margin-top:50px;}

    #message{
       position: fixed; 
       bottom: 0;
       width:100%;
       background-color: rgb(216, 245, 64) ;
       text-align: center;
       height: 40px;
    }
    h2{
        font-family: Noto Sans, sans-serif;
        font-size: 15px  ;
        font-weight: bold;
        color: rgb(243,132,60);
    }
    h3{
     margin-left:-170px;
     margin-top:40px;
     font-family: Noto Sans, sans-serif;
     font-size: 15px  ;
     font-weight: bold;
     color: rgb(247, 244, 235);
    }
